@{
    ViewBag.Title = "API IOB Concursos";
}

<h2>@ViewBag.Message</h2>
<p>
    Para saber mais entre em contato com <a mailto:"dev.contato@iobconcursos.com.br">dev.contato@iobconcursos.com.br</a>
</p>
<ul>@Html.Raw(ViewBag.api)</ul>

